In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import plotly.express as px
import seaborn as sns
from unidecode import unidecode

corr_xlsx = pd.read_excel('dados/corr/correspondencias.xlsx', converters={'cod_old':str,'cod_new':str})
corr = dict(zip(corr_xlsx.cod_old,corr_xlsx.cod_new))
cod_to_dsg = dict(zip(corr_xlsx.cod_new, corr_xlsx.dsg_new))
corr_concelhos_xlsx = pd.read_excel('dados/corr/correspondencias_old.xlsx', sheet_name = "concelhos", converters={'DICO':str,'Concelho':str})
corr_concelhos = dict(zip(corr_concelhos_xlsx.DICO, corr_concelhos_xlsx.Concelho))


def read_mai(ano):
    if ano >= 2009:
        df = pd.read_excel("dados/MAI/BDRE_Contagem_Eleitores_" + str(ano) + ".xls", sheet_name="Freguesia_Consulado", converters={"Codigo":str, 'Código':str, "Nac":int, "UE": int, "ER":int,"TOTAL":int})
        rename_dict = {"Codigo":"FREGUESIA", "Código":"FREGUESIA", "Nac":"NAC", "Distrito/Ilha/Continente > Concelho/País > Freguesia/Consulado":"Nome"}

        for old_col, new_col in rename_dict.items():
            if old_col in df.columns:
                df = df.rename(columns={old_col: new_col})
                
        df = df[["FREGUESIA", "Nome", "NAC"]]
        df = df[~df["FREGUESIA"].isna()]
        df = df.loc[df["FREGUESIA"].map(lambda x: int(str(x)[:2])) < 50]
        if ano == 2013:
            df["FREGUESIA"] = df["FREGUESIA"].apply(lambda x: x.replace('  ',''))
        df["FREGUESIA"] = df["FREGUESIA"].map(corr)
        df = df.groupby('FREGUESIA').agg({'Nome': 'first', 'NAC': 'sum'})
        df = df.rename(columns={"NAC": "PT_MAI_" + str(ano)[2:]})
    else:
        df = pd.read_excel("dados/MAI/BDRE_Contagem_Eleitores_" + str(ano) + ".xls", converters={"Codigo":str, 'Código': str, "Nac":int, "UE": int, "ER":int,"TOTAL":int}, skiprows=1)
        if ano == 2002:
            df = df.drop(columns=["Unnamed: 0", "AVEIRO"])
        else:  
            df = df.drop(columns=["CONTINENTE E REGIÕES AUTÓNOMAS", "Unnamed: 1"])
        df = df.rename(columns = {"Unnamed: 2" : "Concelho", "Unnamed: 3":"Nome"})

        column_names = df.columns.tolist()
        column_names[-1] = 'NAC'
        df.columns = column_names

        df['Concelho'] = df['Concelho'].fillna(method='ffill')
        df = df[df['Nome'].notna()]

        # create a list of values to keep
        concelhos = corr_xlsx["Concelho"].unique().tolist()
        mask = df['Concelho'].isin(concelhos)
        df = df.loc[mask].reset_index(drop=True)

        df['Nome'] = df['Nome'].str.upper()
        df["FREGUESIA"] = np.nan
        
        df["Nome"] = df["Nome"].apply(lambda x: unidecode(x))
        df["Concelho"] = df["Concelho"].apply(lambda x: unidecode(x))

        for idx, row in df.iterrows():
            select_df = corr_xlsx.loc[(corr_xlsx['Concelho'] == row["Concelho"]) & (corr_xlsx['dsg_old'] == row["Nome"])]
            if not select_df.empty:
                df.loc[idx, "FREGUESIA"] = select_df.iloc[0]["cod_new"]
                df.loc[idx, "Nome"] = select_df.iloc[0]["dsg_new"]

        df = df[df["Nome"] != "HAVANA"]
        df = df.groupby('FREGUESIA').agg({'Nome': 'first', 'NAC': 'sum'})
        df = df.rename(columns={"NAC": "PT_MAI_" + str(ano)[2:]})
        
    return df
        
portugal_districts = {
    '01': 'Aveiro',
    '02': 'Beja',
    '03': 'Braga',
    '04': 'Bragança',
    '05': 'Castelo Branco',
    '06': 'Coimbra',
    '07': 'Évora',
    '08': 'Faro',
    '09': 'Guarda',
    '10': 'Leiria',
    '11': 'Lisboa',
    '12': 'Portalegre',
    '13': 'Porto',
    '14': 'Santarém',
    '15': 'Setúbal',
    '16': 'Viana do Castelo',
    '17': 'Vila Real',
    '18': 'Viseu',
    '31': 'Madeira',
    '32': 'Madeira',
    '41': 'Açores',
    '42': 'Açores',
    '43': 'Açores',
    '44': 'Açores',
    '45': 'Açores',
    '46': 'Açores',
    '47': 'Açores',
    '48': 'Açores',
    '49': 'Açores'
}

pd.set_option('display.max_rows', 20)

nac21 = pd.read_excel('dados/dados_INE.xlsx', sheet_name="Nacionalidade2021", converters={'MUNICIPIO':str,'FREGUESIA':str}, skiprows=[0])
nac11 = pd.read_excel('dados/dados_INE.xlsx', sheet_name="Nacionalidade2011", converters={'MUNICIPIO_CAOP2013':str,'FREGUESIA_CAOP2013':str}, skiprows=[0])
nac01 = pd.read_excel('dados/dados_INE.xlsx', sheet_name="Nacionalidade2001", converters={'CONCELHO_EU02':str,'FREGUESIA_EU02':str}, skiprows=[0])
tipologias2014 = pd.read_excel('dados/tipologias2014.xlsx').rename(columns={"Código": "FREGUESIA"}).set_index("FREGUESIA")


nac21 = nac21[(nac21["FREGUESIA"] != '000000') & (nac21["GRUPO ETÁRIO"] == "2 18 ou mais anos")]
nac21 = nac21.rename(columns={"Designação CAOP2013": "FF_DSG", "Portuguesa":"PT", "Estrangeira":"EST", "Apátrida":"APA", "Total":"TOTAL"})
nac21 = nac21[["CC_DSG", "FREGUESIA", "FF_DSG", "PT"]]
nac21["FREGUESIA"] = nac21["FREGUESIA"].map(corr)
nac21['FF_DSG'] = nac21['FREGUESIA'].map(cod_to_dsg)
nac21 = nac21.groupby('FREGUESIA').agg({'CC_DSG': 'first', 'FF_DSG': 'first', 'PT': 'sum'})

nac11 = nac11[(nac11["FREGUESIA_CAOP2013"] != '000000') & (nac11["GRUPO ETÁRIO"] == "2 18 ou mais anos")]
nac11 = nac11.rename(columns={"Designação CAOP2013": "FF_DSG", "FREGUESIA_CAOP2013": "FREGUESIA", "Portuguesa":"PT", "Estrangeira":"EST", "Apátrida":"APA", "Total":"TOTAL"})
nac11 = nac11[["CC_DSG", "FREGUESIA", "FF_DSG", "PT"]]
nac11["FREGUESIA"] = nac11["FREGUESIA"].map(corr)
nac11['FF_DSG'] = nac11['FREGUESIA'].map(cod_to_dsg)
nac11 = nac11.groupby('FREGUESIA').agg({'CC_DSG': 'first', 'FF_DSG': 'first', 'PT': 'sum'})

nac01 = nac01[(nac01["FREGUESIA_EU02"] != '000000') & (nac01["GRUPO ETÁRIO"] == "2 18 ou mais anos")]
nac01 = nac01.rename(columns={"FREGUESIA_EU02": "FREGUESIA", "Portuguesa":"PT", "Estrangeira":"EST", "Apátrida":"APA", "Total":"TOTAL"})
nac01["FREGUESIA"] = nac01["FREGUESIA"].map(corr)
nac01['FF_DSG'] = nac01['FREGUESIA'].map(cod_to_dsg)
nac01 = nac01.groupby('FREGUESIA').agg({'CC_DSG': 'first', 'FF_DSG': 'first', 'PT': 'sum'})

nac11 = nac11.drop(['FF_DSG', 'CC_DSG'], axis=1)
nac01 = nac01.drop(['FF_DSG', 'CC_DSG'], axis=1)
nac21 = nac21.rename(columns={"TOTAL":"TOTAL_INE_21", "PT":"PT_INE_21"})
nac11 = nac11.add_suffix('_INE_11')
nac01 = nac01.add_suffix('_INE_01')

In [ ]:
tipologias2014 = tipologias2014.drop("Designação", axis=1)
tipologias2014["Distrito"] = tipologias2014.index.map(lambda x: portugal_districts.get(x[:2], 'Unknown'))

populacao = tipologias2014.merge(nac21, left_index=True, right_index=True).merge(nac11, left_index=True, right_index=True).merge(nac01, left_index=True, right_index=True)

#MAI
ele21 = read_mai(2021)
ele11 = read_mai(2011)

mai = ele21.merge(ele11,left_index=True, right_index=True)

#Comparacao
comp = populacao.merge(mai, left_index=True, right_index=True)

comp["diff_abs_21"] = comp["PT_MAI_21"] - comp["PT_INE_21"]
comp["diff_abs_21"] = comp["diff_abs_21"].astype(float)
comp["diff_abs_11"] = comp["PT_MAI_11"] - comp["PT_INE_11"]
comp["diff_rel_21"] = comp["diff_abs_21"] / comp["PT_INE_21"] * 100
comp["diff_rel_11"] = comp["diff_abs_11"] / comp["PT_INE_11"] * 100
comp['diff_rel_21'] = comp['diff_rel_21'].astype(float).round(1)
comp['diff_rel_11'] = comp['diff_rel_11'].astype(float).round(1)
comp_APU = comp[comp["TIPAU"] == "APU"]
comp_AMU = comp[comp["TIPAU"] == "AMU"]
comp_APR = comp[comp["TIPAU"] == "APR"]

def print_mapa(var="diff_rel_21", ano = 2021):
    district_stats = comp.groupby('Distrito')[var].apply(lambda x: pd.Series({'weighted_mean_diff': (x * comp.loc[x.index, 'PT_INE_21']).sum() / comp.loc[x.index, 'PT_INE_21'].sum()}))
    district_stats = pd.DataFrame(district_stats).reset_index().drop(columns=["level_1"]).set_index("Distrito")

    mapa = gpd.read_file('PRT_adm1.shp')
    mapa = mapa.replace({"Azores":"Açores"})
    mapa = mapa.merge(district_stats, left_on='NAME_1', right_index=True)

    # Create the map
    fig, ax = plt.subplots(figsize=(12, 8))
    mapa.plot(column=var, cmap='OrRd', legend=True, ax=ax)
    ax.set_title('Erro relativo médio por distrito (poderado) ' + str(ano), fontsize=16)
    ax.set_axis_off()

    # Add labels to the map with the average population for each district
    for idx, row in mapa.iterrows():
        plt.annotate(text=f"{row[var]:.0f}", xy=row['geometry'].centroid.coords[0], horizontalalignment='center', fontsize=15)
    plt.show()
    
def print_boxplot(var = "diff_rel_21", titulo = "Erro relativo p/TIPAU - 2021"):
    data = [comp[var], comp_APU[var], comp_AMU[var], comp_APR[var]]

    # Plot the boxplots
    fig, ax = plt.subplots()
    boxplots = ax.boxplot(data)

    # Add x-axis labels
    ax.set_title(titulo)
    ax.set_xticklabels(['Todas', "APU", "AMU", "APR"])
    ax.set_ylabel("%")
    ax.set_ylim([-80, 180])
    # Show the plot
    plt.show()

In [ ]:
print_boxplot()

In [ ]:
#cmap = {'APR': 'green', 'APU': 'red', 'AMU': 'blue'}

fig = px.scatter(comp_APU, x='PT_INE_21', y='diff_rel_21', hover_data=['FF_DSG', "PT_MAI_21"])

# Show the plot
fig.show()

In [ ]:
comp_APU.head()

In [ ]:
# ADICIONAR VARIÁVEIS (MÉDIA PONDERADA PARA AS UNIÕES DE FREGUESIAS (EX: EDUCAÇÃO))
df = pd.DataFrame({
    'Index': ['A', 'A', 'B', 'B', 'C'],
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50]
})

weighted_mean = lambda x: np.average(x, weights=df.loc[x.index, "A"])

grouped_df = df.groupby('Index').agg(A=("A", "sum"),B_weighted=("B", weighted_mean))

In [ ]:
#GRÁFICO COMPARAÇÃO POPULAÇÃO RECENSEADA 

years_mai = list(range(2008, 2022))
mai_list = []
for year in range(2008, 2022):
    df = read_mai(year)
    mai = df["PT_MAI_" + str(year)[2:]].sum()
    print(str(year) + ": " + str(mai))
    mai_list.append(mai)


years_ine = [2011, 2021]
ine_list = [8166640,  8079525]

# create two series objects with different numbers of observations
mai = pd.Series(mai_list, index=years_mai)
ine = pd.Series(ine_list, index=years_ine)

# reindex both series to have a common index
common_index = pd.RangeIndex(start=2010, stop=2023)
mai = mai.reindex(common_index)
ine = ine.reindex(common_index)


df = pd.concat([mai, ine], axis=1)
df.columns = ['Series 1', 'Series 2']

# plot both series using Seaborn
sns.lineplot(data=df)
plt.show()

In [65]:
for year in range(2001, 2022):
    df = read_mai(year)
    mai = df["PT_MAI_" + str(year)[2:]].sum()
    print(str(year) + ": " + str(mai))
    print(df.shape[0])

2001: 7497524
2800
2002: 7474262
2799
2003: 7494829
2804

KeyboardInterrupt:

In [66]:
mai01 = read_mai(2001)
mai21 = read_mai(2021)

In [69]:
set(mai21.index) - set(mai01.index)

{'011008',
 '011301',
 '011302',
 '011303',
 '011304',
 '011305',
 '011310',
 '011315',
 '011318',
 '011319',
 '011320',
 '011321',
 '011322',
 '011807',
 '020203',
 '020205',
 '020206',
 '020208',
 '020209',
 '020210',
 '020506',
 '020520',
 '020521',
 '021308',
 '030119',
 '030120',
 '030265',
 '030268',
 '030272',
 '030277',
 '030349',
 '030351',
 '030364',
 '030365',
 '030370',
 '030520',
 '030726',
 '030729',
 '030730',
 '030835',
 '030842',
 '030850',
 '030854',
 '030857',
 '030858',
 '030884',
 '030885',
 '030919',
 '031239',
 '031241',
 '031242',
 '031258',
 '031350',
 '031362',
 '031365',
 '031406',
 '031408',
 '040102',
 '040103',
 '040111',
 '040118',
 '040119',
 '040120',
 '040121',
 '040122',
 '040123',
 '040124',
 '040125',
 '040126',
 '040318',
 '040404',
 '040406',
 '040407',
 '040408',
 '040515',
 '040518',
 '041103',
 '050302',
 '050324',
 '051101',
 '051102',
 '051103',
 '051104',
 '060334',
 '061703',
 '070104',
 '070105',
 '070107',
 '070301',
 '070304',
 '070404',
 '070414',
 '070502',
 '070503',
 '070513',
 '070525',
 '071406',
 '080508',
 '080708',
 '080808',
 '080809',
 '081404',
 '081412',
 '081601',
 '081602',
 '081603',
 '090408',
 '090625',
 '090723',
 '090802',
 '090803',
 '090901',
 '090902',
 '090905',
 '090907',
 '090908',
 '090912',
 '090914',
 '090915',
 '090917',
 '090918',
 '090919',
 '091401',
 '091402',
 '091403',
 '091404',
 '091405',
 '091407',
 '091410',
 '091411',
 '091412',
 '091414',
 '091415',
 '091416',
 '091418',
 '091419',
 '100703',
 '101301',
 '101302',
 '101303',
 '101405',
 '101407',
 '101614',
 '110119',
 '111128',
 '120401',
 '120402',
 '120501',
 '130134',
 '131132',
 '131133',
 '131430',
 '131630',
 '131811',
 '140801',
 '140802',
 '140803',
 '141101',
 '141103',
 '141104',
 '141106',
 '141107',
 '141110',
 '141111',
 '141633',
 '141821',
 '142111',
 '142115',
 '150501',
 '150503',
 '150505',
 '150506',
 '151101',
 '151102',
 '151205',
 '151210',
 '160142',
 '160163',
 '160623',
 '160624',
 '160744',
 '160904',
 '160928',
 '170309',
 '171014',
 '171102',
 '171201',
 '171203',
 '171221',
 '171438',
 '180524',
 '180525',
 '181501',
 '181504',
 '181511',
 '181702',
 '181704',
 '181706',
 '181707',
 '181709',
 '181710',
 '181711',
 '181713',
 '181714',
 '182341',
 '310101',
 '310102',
 '310103',
 '310104',
 '310105',
 '310106',
 '310107',
 '310108',
 '310201',
 '310202',
 '310203',
 '310204',
 '310205',
 '310303',
 '310304',
 '310308',
 '310310',
 '420101',
 '420102',
 '420103',
 '420104',
 '420105',
 '420312',
 '420313',
 '420314',
 '420318',
 '420404',
 '420509',
 '420510',
 '420604',
 '420605',
 '430101',
 '430102',
 '430103',
 '430104',
 '430105',
 '430106',
 '430107',
 '430108',
 '430109',
 '430110',
 '430111',
 '430112',
 '430113',
 '430114',
 '430115',
 '430116',
 '430117',
 '430118',
 '430119',
 '430201',
 '430202',
 '430203',
 '430204',
 '430205',
 '430206',
 '430207',
 '430208',
 '430209',
 '430210',
 '450101',
 '450102',
 '450103',
 '450104',
 '450105',
 '450201',
 '450205',
 '450206',
 '470106',
 '470107',
 '470108'}

In [ ]:
df["Nome"].value_counts()

In [ ]:
df[df["Nome"] == "PRAZERES"]

In [ ]:
corr_xlsx[(corr_xlsx["Concelho"] == "LISBOA") & (corr_xlsx["dsg_old"] == "PRAZERES")]

In [37]:
df = pd.read_excel("dados/MAI/BDRE_Contagem_Eleitores_" + str(2002) + ".xls", converters={"Codigo":str, 'Código': str, "Nac":int, "UE": int, "ER":int,"TOTAL":int}, skiprows=1)
#df = df.drop(columns=["CONTINENTE E REGIÕES AUTÓNOMAS", "Unnamed: 1"])
#df = df.rename(columns = {"Unnamed: 2" : "Concelho", "Unnamed: 3":"Nome"})

df.head()

  Unnamed: 0 AVEIRO Unnamed: 2       Unnamed: 3  579498
0        NaN    NaN     ÁGUEDA              NaN   40837
1        NaN    NaN        NaN           Agadão     533
2        NaN    NaN        NaN  Aguada de Baixo    1481
3        NaN    NaN        NaN   Aguada de Cima    3286
4        NaN    NaN        NaN           Águeda   10000

In [34]:



column_names = df.columns.tolist()
column_names[-1] = 'NAC'
df.columns = column_names

        df['Concelho'] = df['Concelho'].fillna(method='ffill')
        df = df[df['Nome'].notna()]

        # create a list of values to keep
        concelhos = corr_xlsx["Concelho"].unique().tolist()
        mask = df['Concelho'].isin(concelhos)
        df = df.loc[mask].reset_index(drop=True)

        df['Nome'] = df['Nome'].str.upper()
        df["FREGUESIA"] = np.nan

        for idx, row in df.iterrows():
            select_df = corr_xlsx.loc[(corr_xlsx['Concelho'] == row["Concelho"]) & (corr_xlsx['dsg_old'] == row["Nome"])]
            if not select_df.empty:
                df.loc[idx, "FREGUESIA"] = select_df.iloc[0]["cod_new"]
                df.loc[idx, "Nome"] = select_df.iloc[0]["dsg_new"]

        df = df[df["Nome"] != "HAVANA"]
        df = df.groupby('FREGUESIA').agg({'Nome': 'first', 'NAC': 'sum'})
        df = df.rename(columns={"NAC": "PT_MAI_" + str(ano)[2:]})

IndentationError: unexpected indent (3749887081.py, line 5)

In [49]:
corr_xlsx.head()

,cod_new,dsg_new,cod_old,dsg_old,Designação antiga,Observações (até 2013),Observações (após 2013),Concelho
0,010103,AGUADA DE CIMA,010103,AGUADA DE CIMA,NaN,"VILA (L. 50/97, DE 12 JUL.)",NaN,ÁGUEDA
1,010109,FERMENTELOS,010109,FERMENTELOS,NaN,"VILA (DEC. 15456, DE 05 MAI. 1928)",NaN,ÁGUEDA
2,010112,MACINHATA DO VOUGA,010112,MACINHATA DO VOUGA,NaN,NaN,NaN,ÁGUEDA
3,010119,VALONGO DO VOUGA,010119,VALONGO DO VOUGA,NaN,"VILA (L.65/2009, DE 06 AGO.)",NaN,ÁGUEDA
4,010121,UNIÃO DAS FREGUESIAS DE ÁGUEDA E BORRALHA,010104,ÁGUEDA,NaN,EM 1986 DEU ORIGEM À FREG. DE BORRALHA (L. 25/...,NaN,ÁGUEDA

In [52]:
new_corr_xlsx = corr_xlsx
new_corr_xlsx["dsg_old"] = new_corr_xlsx["dsg_old"].apply(lambda x: unidecode(x))

new_corr_xlsx.head()

,cod_new,dsg_new,cod_old,dsg_old,Designação antiga,Observações (até 2013),Observações (após 2013),Concelho
0,010103,AGUADA DE CIMA,010103,AGUADA DE CIMA,NaN,"VILA (L. 50/97, DE 12 JUL.)",NaN,ÁGUEDA
1,010109,FERMENTELOS,010109,FERMENTELOS,NaN,"VILA (DEC. 15456, DE 05 MAI. 1928)",NaN,ÁGUEDA
2,010112,MACINHATA DO VOUGA,010112,MACINHATA DO VOUGA,NaN,NaN,NaN,ÁGUEDA
3,010119,VALONGO DO VOUGA,010119,VALONGO DO VOUGA,NaN,"VILA (L.65/2009, DE 06 AGO.)",NaN,ÁGUEDA
4,010121,UNIÃO DAS FREGUESIAS DE ÁGUEDA E BORRALHA,010104,AGUEDA,NaN,EM 1986 DEU ORIGEM À FREG. DE BORRALHA (L. 25/...,NaN,ÁGUEDA

In [55]:
new_corr_xlsx.to_csv("to_add.csv")

In [ ]:
        df = pd.read_excel("dados/MAI/BDRE_Contagem_Eleitores_" + str(ano) + ".xls", converters={"Codigo":str, 'Código': str, "Nac":int, "UE": int, "ER":int,"TOTAL":int}, skiprows=1)
        if ano == 2002:
            df = df.drop(columns=["Unnamed: 0", "AVEIRO"])
        else:  
            df = df.drop(columns=["CONTINENTE E REGIÕES AUTÓNOMAS", "Unnamed: 1"])
        df = df.rename(columns = {"Unnamed: 2" : "Concelho", "Unnamed: 3":"Nome"})

        column_names = df.columns.tolist()
        column_names[-1] = 'NAC'
        df.columns = column_names

        df['Concelho'] = df['Concelho'].fillna(method='ffill')
        df = df[df['Nome'].notna()]

        # create a list of values to keep
        concelhos = corr_xlsx["Concelho"].unique().tolist()
        mask = df['Concelho'].isin(concelhos)
        df = df.loc[mask].reset_index(drop=True)

        df['Nome'] = df['Nome'].str.upper()
        df["FREGUESIA"] = np.nan

        for idx, row in df.iterrows():
            select_df = corr_xlsx.loc[(corr_xlsx['Concelho'] == row["Concelho"]) & (unidecode(str(corr_xlsx['dsg_old'])) == unidecode(str(row["Nome"])))]
            if not select_df.empty:
                df.loc[idx, "FREGUESIA"] = select_df.iloc[0]["cod_new"]
                df.loc[idx, "Nome"] = select_df.iloc[0]["dsg_new"]

        df = df[df["Nome"] != "HAVANA"]
        df = df.groupby('FREGUESIA').agg({'Nome': 'first', 'NAC': 'sum'})
        df = df.rename(columns={"NAC": "PT_MAI_" + str(ano)[2:]})